

*{
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  color: rgb(53, 13, 13);
  font-size: 24px; 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1 {
  margin: 30px;
 margin-top: 45px;
}

.recipies {
  height: 400px;
  width: 400px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}

.recipie {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: rgb(228, 159, 56);
  border: 1px solid #222;
  margin: 2px;
}
.voteCount {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recipie button {
  color: darkolivegreen;
  background-color: #0000;
  border: none;
  font-size: 25px;
  outline: none;
  cursor: pointer;
}